<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-center text-md-end">
            <h1 class="h3 text-body">{{ site.title }}</h1>
        </a>
        <ul class="nav nav-pills justify-content-center">
        {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%} 
            {% for nav in navItems %}
            {% if nav.stub %}
            <li class="nav-item">
                <a class="nav-link{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}" {% if page.url == nav.stub %}aria-current="page"{% endif %}>{{ nav.display_name }}</a>
            </li>
            {%- else -%}
            <li class="nav-item dropdown">
                {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
                {%- assign childStubs = navChildren | map: 'stub' -%}
                <a class="nav-link dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.display_name }}</a>
                <div class="dropdown-menu">
                    {% for c in navChildren %}
                    <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}" href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
            {%- endfor -%}
        </ul>
    </header>
</div>
